beautifulsoup4==4.9.3
blessed==1.17.6
certifi==2020.6.20
chardet==3.0.4
idna==2.10
inquirer==2.7.0
lxml==4.5.2
python-editor==1.0.4
readchar==2.0.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
wcwidth==0.2.5
