asn1crypto==0.24.0
attrs==20.2.0
Automat==20.2.0
backports.functools-lru-cache==1.6.1
bar==0.2.1
configparser==3.5.0b2
constantly==15.1.0
cryptography==41.0.0
cycler==0.10.0
entrypoints==0.2.3.post3
enum34==1.1.6
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
ipaddress==1.0.17
keyring==15.1.0
keyrings.alt==3.1
kiwisolver==1.1.0
matplotlib==2.2.5
numpy==1.22.0
olefile==0.46
Pillow==9.3.0
pycrypto==2.6.1
PyGObject==3.30.1
PyHamcrest==1.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.4
SecretStorage==2.3.1
six==1.15.0
subprocess32==3.5.4
turtle==0.0.2
Twisted==22.10.0
typing==3.7.4.3
zope.interface==5.1.2